.slick-list {
    margin: 0 auto !important;
    
}

.slider-container {
  background: #475B63;
}

.carousel-item-container {
  background: rgba(254, 254, 250, 0.9);
  position: relative;
  margin-top: 5px;  
}

.carousel-item-image {
  height: 300px;
  width: 100%; 
  object-fit: contain;
}

.carousel-item-text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 50px 10px 50px;
  background: linear-gradient(transparent, rgba(0,0,0,0.7));
  color: white;
  /* text ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* @media screen and (max-width: 700px) { 
  .slider-container {
     display: none;
  }
}*/
